

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
  }
  
  .alert_wrapper .alert_item {
    height: 80%;
    max-width: 400px;
    width: 90%;
    background: var(--white);
  
    padding: 15px 20px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  }
  
  .alert_wrapper .alert_item .text {
    padding: 0 5px 0 15px;
    width: calc(100% - 64px);
  }
  
  .alert_wrapper .alert_item .text h3 {
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--text-primary-clr);
  }
  
  .alert_wrapper .alert_item .text p {
    color: var(--text-secondary-clr);
  }
  
  .alert_wrapper .alert_item .icon,
  .alert_wrapper .alert_item .close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  
  .alert_wrapper .alert_item .icon ion-icon {
    color: var(--white);
    font-size: 15px;
  }
  
  .alert_wrapper .alert_item .close {
    font-size: 15px;
    color: var(--text-secondary-clr);
  }
  
  .alert_wrapper .alert_item .close ion-icon {
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  
  
  .alert_wrapper .alert_item.error_item {
    background: var(--error-bg-clr);
  }
  
  .alert_wrapper .alert_item.error_item .icon {
    background: var(--error-clr);
  }

  #notification{
   margin-left: 820px;
  }

  .close{
    cursor: pointer !important;
  }

  .alert_wrapper .alert_item.success_item {
    background: var(--success-bg-clr);
  }

  .alert_wrapper.alert_wrapper_3 .alert_item.success_item {
    border: 2px solid var(--success-clr);
  }




.alert_wrapper .alert_item.success_item .icon {
  background: var(--success-clr);
}

.container-message p {

  color: black !important;
}


.alert_item.error_item{
  overflow-x: hidden !important; 
  
}



