@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=PT+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");
/*register page*/
*{

    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif !important;
}

body,html{

  color: white;
  font-family: "Poppins", sans-serif !important;
  height: 100vh;
  margin: 0;
  background: rgb(44, 47, 59);
  background: -webkit-linear-gradient(to right, var(--main-color-dark), rgb(54, 60, 70), rgb(32, 32, 43));
  background: linear-gradient(to right, rgb(38, 51, 61), rgb(50, 55, 65), rgb(33, 33, 78));
}

body h1, p, span, label{
  color: white !important;
}

:root{

    --error-clr: #ef4d61;
    --error-bg-clr: #fdedef;
    --cor-paleta-1: #3a3952;
    --success-clr: #35d39d;
}

h1{
  overflow-y: hidden;
}

#main-image{
  height: 100vh;
  object-fit: cover;
  object-position: 70% 10% ; 
}
#name-logo{
  margin-left: 40px;
}

#register-container h1{
    overflow-y: hidden;
    font-size: 60px;
    font-weight: 500;
    color: var(--cor-paleta-1);


}

.invalid-field{
    color:red;
    font-size: 75%;
}
input::placeholder{
    font-size: 80%;
    
}

.register-input{
    width: 100%;
}

#submit-input{
    border-style: none;
    outline: none;
    background-color: var(--cor-paleta-1);
    color: white;
    border-radius: 3px;
}

#submit-input:hover{
    transition: ease-in-out 1s;
    background-color:#2a2a3b;
}

.button-login{
    border-radius: 5px ;
    border-color: none;
    border: none;
    background: -webkit-linear-gradient(to right, var(--main-color-dark), rgb(54, 60, 70), rgb(32, 32, 43));
    background: linear-gradient(to right, rgb(38, 51, 61), rgb(50, 55, 65), rgb(33, 33, 78));
    width: 100%;
    padding: 0.625rem 1rem;


}

input{
  border-radius: 10px !important; 
}

.link-login{

    color: #8282ce;
}


.button-login-img{
    height: 20px;
    width: 20px;
    margin-right: 13px;
}

.help-text{
    color: black;
    font-size: 70%;
}
/* end register page*/


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
  }
  
  .alert_wrapper .alert_item {
    height: 80%;
    max-width: 400px;
    width: 90%;
    background: var(--white);
  
    padding: 15px 20px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  }
  
  .alert_wrapper .alert_item .text {
    padding: 0 5px 0 15px;
    width: calc(100% - 64px);
  }
  
  .alert_wrapper .alert_item .text h3 {
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--text-primary-clr);
  }
  
  .alert_wrapper .alert_item .text p {
    color: var(--text-secondary-clr);
  }
  
  .alert_wrapper .alert_item .icon,
  .alert_wrapper .alert_item .close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  
  .alert_wrapper .alert_item .icon ion-icon {
    color: var(--white);
    font-size: 15px;
  }
  
  .alert_wrapper .alert_item .close {
    font-size: 15px;
    color: var(--text-secondary-clr);
  }
  
  .alert_wrapper .alert_item .close ion-icon {
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  
  
  .alert_wrapper .alert_item.error_item {
    background: var(--error-bg-clr);
  }
  
  .alert_wrapper .alert_item.error_item .icon {
    background: var(--error-clr);
  }

  #notification{
   margin-left: 820px;
  }

  .close{
    cursor: pointer !important;
  }

  .alert_wrapper .alert_item.success_item {
    background: var(--success-bg-clr);
  }

  .alert_wrapper.alert_wrapper_3 .alert_item.success_item {
    border: 2px solid var(--success-clr);
  }




.alert_wrapper .alert_item.success_item .icon {
  background: var(--success-clr);
}

.container-message p {

  color: black !important;
}


.alert_item.error_item{
  overflow-x: hidden !important; 
  
}







