@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=PT+Sans&display=swap');

/*register page*/

:root{
    --cor-paleta-1: #3a3952;;
}
*{
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif !important;
}


body{
 
    background: rgb(44, 47, 59);
    background: -webkit-linear-gradient(to right, var(--main-color-dark), rgb(54, 60, 70), rgb(32, 32, 43));
    background: linear-gradient(to right, rgb(38, 51, 61), rgb(50, 55, 65), rgb(33, 33, 78));
}



#logout{
    padding: 10px 20px;
    width: 100%;
    border-style: none;
    outline: none;
    background-color: #28283a;
    color: white;
    border-radius: 3px;
}
#logout:hover{
    padding: 10px 20px;
    width: 100%;
    border-style: none;
    outline: none;
    background-color: #1c1c29;
    color: white;
    border-radius: 3px;
}


.sign-out{
    border-radius: 5px;
    background-color: #3a3952 !important ;
 }