@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=PT+Sans&display=swap');

/*register page*/

:root{
    --cor-paleta-1: #3a3952;;
}
*{
    overflow-x: hidden;
    overflow-y: hidden;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif !important;
}


body{
 
    background-color: #f2f2f998 !important;
}



#logout{
    padding: 10px 20px;
    width: 100%;
    border-style: none;
    outline: none;
    background-color: #28283a;
    color: white;
    border-radius: 3px;
}
#logout:hover{
    padding: 10px 20px;
    width: 100%;
    border-style: none;
    outline: none;
    background-color: #1c1c29;
    color: white;
    border-radius: 3px;
}


.sign-out{
    border-radius: 5px;
    background-color: #3a3952 !important ;
 }