@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=PT+Sans&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");

/*register page*/
*{
    overflow-x: hidden;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif !important;
}

body{
    background-color: #f2f2f998 !important;
}
:root{

    --error-clr: #ef4d61;
    --error-bg-clr: #fdedef;
}

#main-image{
    height: 100vh;
    object-fit: cover;
    object-position: 40% 30% ; 
}

#register-container h1{
    overflow-y: hidden;
    font-size: 60px;
    font-weight: 500;
    color: var(--cor-paleta-1);


}

.invalid-field{
    color:red;
    font-size: 75%;
}
input::placeholder{
    font-size: 80%;
    
}

.register-input{
    width: 100%;
}

#submit-input{
    border-style: none;
    outline: none;
    background-color: var(--cor-paleta-1);
    color: white;
    border-radius: 3px;
}

#submit-input:hover{
    transition: ease-in-out 1s;
    background-color:#2a2a3b;
}

.button-login{
    border-radius: 5px ;
    border-color: none;
    border: none;
    background-color: #f4f0f0;
    width: 100%;
    padding: 0.625rem 1rem;


}

.link-login{

    color: #8282ce;
}

.link-login:hover{

    color: #2c2c44;
}
.button-login-img{
    height: 20px;
    width: 20px;
    margin-right: 13px;
}

.help-text{
    color: black;
    font-size: 70%;
}
/* end register page*/


.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
  }
  
  .alert_wrapper .alert_item {
    height: 80%;
    max-width: 400px;
    width: 90%;
    background: var(--white);
  
    padding: 15px 20px;
    border-radius: 3px;
    display: flex;
    align-items: center;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.15);
  }
  
  .alert_wrapper .alert_item .text {
    padding: 0 5px 0 15px;
    width: calc(100% - 64px);
  }
  
  .alert_wrapper .alert_item .text h3 {
    font-size: 14px;
    margin-bottom: 5px;
    color: var(--text-primary-clr);
  }
  
  .alert_wrapper .alert_item .text p {
    color: var(--text-secondary-clr);
  }
  
  .alert_wrapper .alert_item .icon,
  .alert_wrapper .alert_item .close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  
  .alert_wrapper .alert_item .icon ion-icon {
    color: var(--white);
    font-size: 15px;
  }
  
  .alert_wrapper .alert_item .close {
    font-size: 15px;
    color: var(--text-secondary-clr);
  }
  
  .alert_wrapper .alert_item .close ion-icon {
    cursor: pointer;
    transition: all 0.5s ease;
  }
  
  
  
  .alert_wrapper .alert_item.error_item {
    background: var(--error-bg-clr);
  }
  
  .alert_wrapper .alert_item.error_item .icon {
    background: var(--error-clr);
  }