{% extends 'dashboard/base_dashboard.html'%}

{% block 'main'%}

     {% if request.user.first_name %}
      <h2 class="text-white">
        Hello, {{request.user.first_name}} the chatbot will help in their jobs. Copy and paste into your projects.
      </h2>
    {% else %}
    <h1 class="text-white">
      Hello, I hope we can make your routine as a lawyer easier! Enjoy.
    </h1>
    
     {% endif %}

    
      
        <div class="row justify-content-center h-100">		
          <div class="col-md-8 col-xl-6 chat">
            <div class="card">
              <div class="card-header msg_head">
                <div class="d-flex bd-highlight">
                  <div class="img_cont">
                    <img src="https:i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img">
                    <span class="online_icon"></span>
                  </div>
                  <div class="user_info">
                    <span>ChatBot</span>
                    <p>Ask me anything!</p>
                  </div>
                </div>
              </div>
              <p id="status"></p>
              <div id="messageFormeight" class="card-body msg_card_body">

                <!--
                <div class="d-flex justify-content-end mb-4">
                    <div class="img_cont_msg"><img src="https://i.ibb.co/d5b84Xw/Untitled-design.png" class="rounded-circle user_img_msg"></div>
                    <div class="msg_cotainer">Ola  <span class="msg_time"></span></div>
                </div>
                <div class="d-flex justify-content-start mb-4">
                    <div class="img_cont_msg"><img src="https://i.ibb.co/fSNP7Rz/icons8-chatgpt-512.png" class="rounded-circle user_img_msg"></div>
                    <div class="msg_cotainer">Ola, man  <span class="msg_time">  </span></div>
                </div>
                  --> 

              </div>
              <div class="card-footer">
                <form id="messageArea" class="input-group">
                                  <input type="text" id="message-input" name="msg" placeholder="Type your message..." autocomplete="off" class="form-control type_msg" required/>
                  <div class="input-group-append">
                    <button  type="submit" id="btn-submit" class="input-group-text send_btn"><i class="fas fa-location-arrow"></i></button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
          
          


   
  {% endblock %}
  


